@font-face {
  font-family: 'iconfont';  /* project id 295031 */
  src: url('//at.alicdn.com/t/font_kqmahxqfvzehfr.eot');
  src: url('//at.alicdn.com/t/font_kqmahxqfvzehfr.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_kqmahxqfvzehfr.woff') format('woff'),
  url('//at.alicdn.com/t/font_kqmahxqfvzehfr.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_kqmahxqfvzehfr.svg#iconfont') format('svg');
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: rgba(184,199,206,0.8);
}

.icon-androiddoneall:before { content: "\e63e"; }

.icon-iosarrowforward:before { content: "\e72b"; }

.icon-naviconround:before { content: "\e86c"; }

.icon-ioslistoutline:before { content: "\e662"; }

.icon-ioslockedoutline:before { content: "\e7a5"; }

.icon-person-stalker:before { content: "\e6c4"; }

.icon-calculator:before { content: "\e7c1"; }

.ion-android-radio-button-off:before { content: '\e7c1'; }
